######################
## Hugo
#######################
public/
.hugo_build.lock

######################
## Intellij
#######################
.idea/
*.iml

#######################
## Visual Studio Code
#######################
.vscode/
.gradle/